@tailwind base;
@tailwind components;
@tailwind utilities;


.title{
    font-family: 'Montserrat';
    font-size: clamp(40px, 5vw, 60px);
}

button{
    /* width: 40%; */
    border: 3px solid black;
    border-radius: 170px;
    margin:auto;
    padding: 10px auto;
}

.logo{
    width: 50%;
    height: auto;
}

.login{
    width: 60%;
    border-radius: 170px;
    border: 3px solid black;
    padding: 5px 20px;
    
}

li, a, p{
    font-family: 'Montserrat';

}

._logoNav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: auto;
    min-width: fit-content;
}


.navBar{
    display: flex;
    justify-content: space-between;
    padding: 0px 100px;
    background-color: white;
    z-index: 100;
    align-items: center;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    min-height: 8vh;
    width: 100%;
    position: sticky;
    top: 0;
}


.nav_links{
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    width: 40%;
    
}

.nav_links li{
    list-style: none;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;
}

.burger div{
    width: 25px;
    height: 3px;
    margin: 5px; 
    background-color: black;
}

.burger{
    display: none;
    cursor: pointer;
}

.player-scores{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 5%;
}

.player-score-box{
    border: 3px solid black;
    border-radius: 170px;
    margin: 2rem;
}

/* Break points */

@media sreen and (max-width: 874px) {
    .logo{
        align-items: center;
    }
}

@media screen and (max-width: 1024px) {
    .nav_links{
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body{
        overflow-x: hidden;
    }

    .nav_links{
       position: absolute;
       right: 0px;
       display: flex;
       flex-direction: column;
       height: 92vh;
       align-items: center;
       width: 100%;
       top: 8vh;
       font-size: 32px;
       transform: translateX(100%);
       background-color: white;
       z-index: 20000;
       transition: transform 0.5s ease-in;
       

    }


    .burger{
        display: block;
    }
}

h1{
    font-size: 1.7rem;
}
h2 {
    font-size: 1.4rem;
}

p{
    font-size: 1rem;
}

body {
    background-color: rgb(236, 239, 241);
    font-family: 'Montserrat';
}

.active{
    transform: translateX(0%);
    
}

.textBox_deactive{
    opacity: 0;
    transform: translate(-100%);
    transition: 0.5s ease-out;
    z-index: 0;
}

.textBox_active{
    z-index: 0;
    transform: translate(0);
    transition: 0.5s ease-in;
}

.fullscreen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}