@tailwind base;
@tailwind components;
@tailwind utilities;


.title{
    font-family: 'Montserrat';
    font-size: clamp(40px, 5vw, 60px);
}
button{
    width: 50%;
    border: 3px solid black;
    border-radius: 170px;
    margin:auto;
}

.logo{
     width:50%;
     height: auto;
}

.login{
    width: 60%;
    border-radius: 170px;
    border: 3px solid black;
    padding: 5px 20px;
}

li, a, p{
    font-family: Montserrat;

}

._logoNav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: auto;
    min-width: fit-content;
}


.navBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 5%;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.player-scores{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 5%;
}

.player-score-box{
    border: 3px solid black;
    border-radius: 170px;
    margin: 50px;
}

nav{
    display: inline-block;
    
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 40px;
    align-items: center;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;
}

